@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            @foreach (Post p in Model)
            {
                <li class="list-group-item">
                    <h3 class="text-primary">@p.title</h3>
                    <h4 class="text-info">@p.body</h4>
                </li>
            }
        </ul>
        </div>
    </div>